.App {
    background-color: #282c34;
    text-align: center;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-top: 5rem; /* Header height */
    padding-bottom: 2.5rem; /* Footer height */
}

.App-header {
    position: fixed;
    top: 0;
    width: 100%; /* Set width to 100% to span the entire viewport */
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3a3f48;
    padding: 0 20px;
    font-size: calc(10px + 2vmin);
    color: white;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    margin-right: 20px; /* Adjust the margin as needed to move the navbar to the right */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; /* Footer height */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282c34;
}

p {
    /*this is the text in the footer*/
    margin: 0;
    color: white;
    font-size: small;
}

h1 {
    /*this is the name of the app*/
    font-size: xx-large;
}

h2 {
    /*this is the name of the page*/
    font-size: x-large;
}

a {
    /*this is the style of the links in the nav element*/
    color: white;
    font-size: large;
    text-decoration: underline;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Split-Screen {
    /*this is the main container, where the left and right side are placed in a grid*/
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 100%;
    font-size: calc(10px + 2vmin);
    color: white;
}

.left-side {
    /*this is the left side of the page, where the chartscontainer is*/
    display: flex;
    justify-content: center;
}

.charts-container {
    /*here we show the 3 charts in a column, spread evenly and centered.*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 95vh;
}

#canvas-element {
    /*this is the canvas where the charts are drawn*/
    background-color: #282c34;
    margin: 0 30px 30px 30px;
    height: 20vh;
    width: 20vw;
}

.right-side {
    /*this is the right side of the page, where the tablecontainer is*/
    display: flex;
    justify-content: center;
}

.events-container {
    /*here we show the table in a column, spread evenly and centered.*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 95vh;
}
