.App {
  background-color: #282c34;
  text-align: center;
}

.App-header {
  /*this is the header, where we show the name of the app at the very left and the nav elements at the very right*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  margin: 0 20px 0 20px;
  min-height: 5vh;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Split-Screen {
  /*this is the main container, where the left and right side are placed in a grid*/
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 100%;
  height: 95vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.leftSide {
  /*this is the left side of the page, where the chartscontainer is*/
  display: flex;
  justify-content: center;
}

.chartsContainer {
  /*here we show the 3 charts in a column, spread evenly and centered.*/
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 95vh;
}

#canvas-element {
  /*this is the canvas where the charts are drawn*/
  background-color: #3d4759;
  height: 20vh;
  width: 20vw;
}

.rightSide {
  /*this is the right side of the page, where the tablecontainer is*/
  display: flex;
  justify-content: center;
}

.eventsContainer {
  /*here we show the table in a column, spread evenly and centered.*/
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 95vh;
}